/**
    FONT SIZES
 */

$font-xxl: 8rem;
$font-xl: 6rem;
$font-l: 4rem;
$font-ll: 4.8rem;
$font-lm: 3.4rem;
$font-m: 3rem;
$font-s: 2rem;
$font-xs: 1rem;

/**
    LETTER-SPACING;
 */

$ls-xxl: 0.5rem;
$ls-xl: 0.2rem;
$ls-l: 0.147rem;
$ls-lm: 0.123rem;
$ls-m: 0.1rem;
$ls-mm: 0.074rem;
$ls-s: 0.063rem;
