.CircleIcon {
    border-radius: 9999px;
    cursor: pointer;
    padding: 5px;
    border: solid 2px white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;

    &:hover {
        color: gray;
        border-color: gray;
    }
}
