@import "src/styles/variables.module";

.NavigationItem {
    margin-bottom: 0;

    a {
        background: transparent;
        vertical-align: baseline;
        font-size: $font-xxl;
        font-weight: 700;
        line-height: 1.5em;
        letter-spacing: 0.2rem;
        color: white;
        text-decoration: none;
        box-sizing: border-box;
        display: inline-block;
        position: relative;

        transition: color 70ms linear 0ms,
            transform 950ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0ms,
            opacity 500ms linear 0ms;

        -webkit-transition: color 70ms linear 0ms,
            transform 950ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0ms,
            opacity 500ms linear 0ms;

        -moz-transition: color 70ms linear 0ms,
            transform 950ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0ms,
            opacity 500ms linear 0ms;

        &:hover {
            color: #6c6c6c;
        }
    }
}

@media (min-width: 1860px) {
    .NavigationItem a {
        font-size: $font-xxl;
    }
}
@media (min-width: 1500px) and (max-width: 1859px) {
    .NavigationItem a {
        font-size: $font-xxl;
    }
}
@media (min-width: 1290px) and (max-width: 1499px) {
    .NavigationItem a {
        font-size: $font-xxl;
    }
}
@media (min-width: 1024px) and (max-width: 1289px) {
    .NavigationItem a {
        font-size: $font-xxl;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .NavigationItem a {
        font-size: $font-xxl;
    }
}
@media (max-width: 767px) {
    .NavigationItem a {
        font-size: $font-xxl;
        line-height: 1.47em;
        font-weight: 300;
        letter-spacing: 0.74px;
    }
}
