.Left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}

.Right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Footer {
    height: 8%;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    display: flex;
    align-items: flex-end;
}

.Icons {
    height: 8%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
