.MenuItems {
    z-index: 12;
    // margin-top: 7rem;
    position: absolute;
    right: 250px;
    top: 70px;
    width: auto;
    min-width: 315px;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);

    &.Shown {
        visibility: visible;
        height: auto;
        position: fixed;
    }
}

@media (max-width: 1023px) {
    .MenuItems {
        width: 85%;
        height: 0;
        // padding-top: 60px;

        &.Shown {
            visibility: visible;
        }
    }
}
@media (min-width: 1024px) {
    .MenuItems {
        height: 0;
        // padding-top: 60px;

        &.Shown {
            visibility: visible;
        }
    }
}
